form.form-example{
    display: table;
}
div.form-example{
    display: table-row;
}
label, input{
    display: table-cell;
    margin-bottom: 10px;
}
label{
    padding-right: 10px;
}
legend{
    background-color: black;
    color: white;
    padding: 3px 6px;
}
